.archive {
    &-posts {
        width: 100%;
        font-size: 16px;
    }

    &-year {
        margin-top: 40px;
    }

    &-year:not(:last-of-type) {
        border-bottom: 2px solid #24292e;
    }

    &-month {
        display: flex;
        align-items: flex-start;
        padding: 10px 0;
    }

    &-month-header {
        margin: 25px 0;
        width: 200px;
    }

    &-month:not(:last-of-type) {
        border-bottom: 1px solid #24292e;
    }

    &-entry {
        position: relative;
        padding: 5px;
        margin: 10px 0;

        &:hover {
            box-shadow: 0 0 0 0 0.25rem;
        }

        a:focus {
            text-decoration: underline;
        }
        &:focus-within {
            box-shadow: 0 0 0 0 0.25rem;
            a:focus {
                text-decoration: none;
            }
        }
    }

    &-entry-title {
        margin: 5px 0;
        font-weight: 400;
    }

    &-count,
    &-meta {
        color: #485667;
        font-size: 14px;
    }
}

@media (max-width:800px) {
    .article {
        &-month {
            flex-direction: column;
        }

        &-year {
            margin-top: 20px;
        }
    }
}
