/* Background */ .chroma { background-color: var(--pop) }
/* Error */ .chroma .err { color: #a61717; font-style: italic; }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl {  display: block; width: 100%;background-color: #DDFFDD }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #d93a49 }
/* KeywordConstant */ .chroma .kc { color:#d93a49 }
/* KeywordDeclaration */ .chroma .kd { color:#d93a49 }
/* KeywordNamespace */ .chroma .kn { color:#d93a49 }
/* KeywordPseudo */ .chroma .kp { color:#d93a49 }
/* KeywordReserved */ .chroma .kr { color:#d93a49 }
/* KeywordType */ .chroma .kt { color: #6f42c1 }
/* Name */ .chroma .n { color: var(--text) }
/* NameAttribute */ .chroma .na { color: #005cc5 }
/* NameBuiltin */ .chroma .nb { color: #005cc5 }
/* NameBuiltinPseudo */ .chroma .bp { color:#005cc5 }
/* NameClass */ .chroma .nc { color: #6f42c1 }
/* NameConstant */ .chroma .no { color: #005cc5 }
/* NameDecorator */ .chroma .nd { color: #6f42c1 }
/* NameEntity */ .chroma .ni { color: #800080 }
/* NameException */ .chroma .ne { color: #6f42c1 }
/* NameFunction */ .chroma .nf { color: #6f42c1 }
/* NameNamespace */ .chroma .nn { color: #6f42c1 }
/* NameTag */ .chroma .nt { color: #000080 }
/* NameVariable */ .chroma .nv { color: #005cc5 }
/* LiteralString */ .chroma .s { color: #063f81 }
/* LiteralStringAffix */ .chroma .sa { color: #063f81 }
/* LiteralStringBacktick */ .chroma .sb { color: #063f81 }
/* LiteralStringChar */ .chroma .sc { color: #063f81 }
/* LiteralStringDelimiter */ .chroma .dl { color: #063f81 }
/* LiteralStringDoc */ .chroma .sd { color: #063f81 }
/* LiteralStringDouble */ .chroma .s2 { color: #063f81 }
/* LiteralStringEscape */ .chroma .se { color: #005cc5 }
/* LiteralStringHeredoc */ .chroma .sh { color: #063f81 }
/* LiteralStringInterpol */ .chroma .si { color: #005cc5 }
/* LiteralStringOther */ .chroma .sx { color: #063f81 }
/* LiteralStringRegex */ .chroma .sr { color: #005cc5 }
/* LiteralStringSingle */ .chroma .s1 { color: #063f81 }
/* LiteralStringSymbol */ .chroma .ss { color: #063f81 }
/* LiteralNumber */ .chroma .m { color: #005cc5 }
/* LiteralNumberBin */ .chroma .mb { color: #005cc5 }
/* LiteralNumberFloat */ .chroma .mf { color: #005cc5 }
/* LiteralNumberHex */ .chroma .mh { color: #005cc5 }
/* LiteralNumberInteger */ .chroma .mi { color: #005cc5 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #005cc5 }
/* LiteralNumberOct */ .chroma .mo { color: #005cc5 }
/* Operator */ .chroma .o { color:#d93a49 }
/* OperatorWord */ .chroma .ow { color:#d93a49 }
/* Punctuation */ .chroma .p { color:var(--text) }
/* Comment */ .chroma .c { color: #979da3;  }
/* CommentHashbang */ .chroma .ch { color: #979da3;  }
/* CommentMultiline */ .chroma .cm { color: #979da3;  }
/* CommentSingle */ .chroma .c1 { color: #979da3;  }
/* CommentSpecial */ .chroma .cs { color: #999999; font-weight: bold;  }
/* CommentPreproc */ .chroma .cp { color: #999999 }
/* CommentPreprocFile */ .chroma .cpf { color: #999999; font-weight: bold }
/* GenericDeleted */ .chroma .gd {  background-color: #ffdddd }
/* GenericError */ .chroma .gr { color: #aa0000; font-style: italic;}
/* GenericHeading */ .chroma .gh { color: #999999 }
/* GenericInserted */ .chroma .gi {  background-color: #ddffdd }
/* GenericOutput */ .chroma .go { color: #888888 }
/* GenericPrompt */ .chroma .gp { color: #555555 }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #aaaaaa }
/* GenericTraceback */ .chroma .gt { color: #aa0000 }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #bbbbbb }

@media (prefers-color-scheme: dark) {
/* LineHighlight */ .chroma .hl {  display: block; width: 100%;background-color: #16271e }
/* Error */ .chroma .err { color: #FDAEB7; font-style: italic; }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #F97583 }
/* KeywordConstant */ .chroma .kc { color:#F97583 }
/* KeywordDeclaration */ .chroma .kd { color:#F97583 }
/* KeywordNamespace */ .chroma .kn { color:#F97583 }
/* KeywordPseudo */ .chroma .kp { color:#F97583 }
/* KeywordReserved */ .chroma .kr { color:#F97583 }
/* KeywordType */ .chroma .kt { color: #B392F0 }
/* Name */ .chroma .n { color: var(--text) }
/* NameAttribute */ .chroma .na { color: #79B8FF }
/* NameBuiltin */ .chroma .nb { color: #79B8FF }
/* NameBuiltinPseudo */ .chroma .bp { color:#79B8FF }
/* NameClass */ .chroma .nc { color: #B392F0 }
/* NameConstant */ .chroma .no { color: #79B8FF }
/* NameDecorator */ .chroma .nd { color: #B392F0 }
/* NameEntity */ .chroma .ni { color: #800080 }
/* NameException */ .chroma .ne { color: #B392F0 }
/* NameFunction */ .chroma .nf { color: #B392F0 }
/* NameNamespace */ .chroma .nn { color: #B392F0 }
/* NameTag */ .chroma .nt { color: #000080 }
/* NameVariable */ .chroma .nv { color: #79B8FF }
/* LiteralString */ .chroma .s { color: #9ECBFF }
/* LiteralStringAffix */ .chroma .sa { color: #9ECBFF }
/* LiteralStringBacktick */ .chroma .sb { color: #9ECBFF }
/* LiteralStringChar */ .chroma .sc { color: #9ECBFF }
/* LiteralStringDelimiter */ .chroma .dl { color: #9ECBFF }
/* LiteralStringDoc */ .chroma .sd { color: #9ECBFF }
/* LiteralStringDouble */ .chroma .s2 { color: #9ECBFF }
/* LiteralStringEscape */ .chroma .se { color: #79B8FF }
/* LiteralStringHeredoc */ .chroma .sh { color: #9ECBFF }
/* LiteralStringInterpol */ .chroma .si { color: #79B8FF }
/* LiteralStringOther */ .chroma .sx { color: #9ECBFF }
/* LiteralStringRegex */ .chroma .sr { color: #79B8FF }
/* LiteralStringSingle */ .chroma .s1 { color: #9ECBFF }
/* LiteralStringSymbol */ .chroma .ss { color: #9ECBFF }
/* LiteralNumber */ .chroma .m { color: #79B8FF }
/* LiteralNumberBin */ .chroma .mb { color: #79B8FF }
/* LiteralNumberFloat */ .chroma .mf { color: #79B8FF }
/* LiteralNumberHex */ .chroma .mh { color: #79B8FF }
/* LiteralNumberInteger */ .chroma .mi { color: #79B8FF }
/* LiteralNumberIntegerLong */ .chroma .il { color: #79B8FF }
/* LiteralNumberOct */ .chroma .mo { color: #79B8FF }
/* Operator */ .chroma .o { color:#F97583 }
/* OperatorWord */ .chroma .ow { color:#F97583 }
/* Punctuation */ .chroma .p { color:var(--text) }
/* Comment */ .chroma .c { color: #6A737D;  }
/* CommentHashbang */ .chroma .ch { color: #979da3;  }
/* CommentMultiline */ .chroma .cm { color: #979da3;  }
/* CommentSingle */ .chroma .c1 { color: #979da3;  }
/* CommentSpecial */ .chroma .cs { color: #999999; font-weight: bold;  }
/* CommentPreproc */ .chroma .cp { color: #999999; font-weight: bold }
/* CommentPreprocFile */ .chroma .cpf { color: #999999; font-weight: bold }
/* GenericDeleted */ .chroma .gd {  background-color: #2c1a1f }
/* GenericError */ .chroma .gr { color: #f97583; font-style: italic; }
/* GenericHeading */ .chroma .gh { color: #999999 }
/* GenericInserted */ .chroma .gi {  background-color: #16271e }
/* GenericOutput */ .chroma .go { color: #888888 }
/* GenericPrompt */ .chroma .gp { color: #555555 }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #aaaaaa }
/* GenericTraceback */ .chroma .gt { color: #aa0000 }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #bbbbbb }
}
