.toc {
    margin-bottom: 40px;
    border: 1px solid var(--subtle);
    background-color: var(--bg);
    padding: .5em;
    color: var(--subdued);

    details {
        text-transform: lowercase;
        font-variant: small-caps;
        summary {
            cursor: zoom-in;
            padding-left: 20px;
            &:focus {
                outline: 0
            }
            .details {
                display: inline;
            }
        }

        &[open] summary {
            cursor: zoom-out;
            border-bottom: 1px solid var(--subtle);
            padding-bottom: .5em;
        }
    }

    nav {
        ul {
            padding-left: 0;
        }
        li {
            padding-left: 1em;
            &::marker {
                content: "-";
            }
            margin-bottom: 0;
            margin-left: 1.7em;
            a {
                color: var(--subdued);
            }
        }
    }
}
