<div class="related-container">
    <h3 class="related-container-header">See Also</h3>
    <div class="related-container-link-container">
        <div class="link">
            {{ with .PrevInSection }}
                <h3 class="link-header">Previous</h3>
                <a href="{{ .RelPermalink }}"><h3>{{ .Title }}</h3></a>
            {{ end }}
        </div>

        <div class="link">
            {{ with .NextInSection }}
                <h3 class="link-header">Next</h3>
                <a href="{{ .RelPermalink }}"><h3>{{ .Title }}</h3></a>
            {{ end }}
        </div>
    </div>
</div>

