{{ define "content" }}

  <div class="info">
    <div class="profile">
      <div class="profile-container">
      </div>
    </div>

    <div class="content">
      {{ .Content | safeHTML }}
    </div>
  </div>

  <div class="posts-container">
    <div id="left">
      <h2>Recent posts</h2>
      {{ with .Site.GetPage "section" "blog" }}
        {{ range first 5 .Pages }}
          {{ .Render "summary" }}
        {{ end }}
      {{ end }}
    </div>

    <div id="right">
      <h2>Projects</h2>
    </div>
  </div>

{{ end }}
