{{ define "styles" }}
  {{ $style := resources.Get "sass/index.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "content" }}

  {{ .Content | safeHTML }}

  <div class="posts-container">
    <div id="left">
      <h2>Recent posts</h2>
      {{ with .Site.GetPage "section" "blog" }}
        {{ range first 5 .Pages }}
          {{ .Render "summary" }}
        {{ end }}
      {{ end }}
    </div>

    <div id="right">
      <h2>Projects</h2>
    </div>
  </div>

{{ end }}
